<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../../../favicon.ico">

		<title>RankRecommend</title>

		<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<!-- Custom styles for this template -->
		<link href="../static/frontpage.css" rel="stylesheet">
	</head>

	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 fixed-top">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/user">Github User</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/graph">Network</a>
				</li>
			</ul>
		</nav>

		<div class="text-center">

			<form  action="/graphresult" method="POST" enctype="multipart/form-data">
				<img class="mb-4" src="static/images/saruman.png"  alt="" width="72" height="72">
				<h1 class="h3 mb-3 font-weight-normal">GraphRecommend</h1>
				<div class="container">
					<label for="rootnode" class="sr-only">Root Node</label>
					<input type="text" id="inputusername" class="form-control" name="inputusername"  placeholder="Root Node" required autofocus>
				</div>
				<br>
				<span class="control-fileupload">
					<label for="file">Choose a file :</label>
					<input type="file" name="file">
				</span>
				<br>
				<br>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Recommend!</button>
			</form>
	</body>
</html>
